html {
	background-color: black;
}

.app {
	font-family: sans-serif;
}

.main-card {
	text-align: center;
	margin: auto;
	color: white;
}

.mock-qr {
	height: 200px;
	width: 200px;
	border: 1px solid white;
	margin: auto;
}

